<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather App</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    
    <div class="weather-title">
      <h1>Weather Prediction</h1>
      <p><strong>View the current weather for your city</strong></p>
    </div>
    <form action="/" method="POST">
      <p><strong>Enter Your City</strong></p>
      <input  type="text" name="city" class="ghost-input" placeholder="Enter a city">
    </form>

    <div class="result">
      <% if(temp !== null)  {%>
        <h3>Temperature is</h3>
        <h1 class="temp"><%= temp %></h1>
      <% } %>

      <div class="icon-des">
        <% if(icon !== null)  {%>
          <img class="icon" src="http://openweathermap.org/img/w/<%= icon %>.png" alt="">
        <% } %>
        <% if(des !== null)  {%>
          <h3><%= des %></h3>
        <% } %>
      </div>

      <% if(city !== null)  {%>
        <h1 class="city"><%= city %></h1>
      <% } %>
      
    </div>
  </div>
</body>
</html>